
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>
	


		<div th:if="${error}">Unable to login. Check your username and
			password.</div>
			
			
			
		
		
		<div class="container-fluid mt-lg-5">
    <div class="row mt-lg-5">
      <div class="col-sm-4">

      </div>
        <div class="col-sm-4">

            <!-- Default form login -->
            <form class="text-center border border-light p-5" method="POST" th:action="@{/login}">

                <p class="h4 mb-4">Log in</p>

                <!-- Email -->

                <input type="text"   class="form-control mb-4"  
                
                id="username" name="username" placeholder="username">

                <!-- Password -->

                <input type="password"   class="form-control mb-4" 
id="password" name="password" placeholder="password"
>

					<!--                 <div class="d-flex justify-content-around"> -->
					<!--                     <div> -->
					<!--                         Remember me -->
					<!--                         <div class="custom-control custom-checkbox"> -->
					<!--                             <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember"> -->
					<!--                             <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label> -->
					<!--                         </div> -->
					<!--                     </div> -->
					<!--                     <div> -->
					<!--                         Forgot password -->
					<!--                         <a href="">Forgot password?</a> -->
					<!--                     </div> -->
					<!--                 </div> -->

					<!-- Sign in button -->
                <button class="btn btn-cyan btn-block my-4" type="submit">Sign in</button>


            </form>
            <!-- Default form login -->


        </div>
    </div>
</div>


<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <!--Modal: Contact form-->
    <div class="modal-dialog cascading-modal" role="document">

        <!--Content-->
        <div class="modal-content">

          
            <!--Body-->
            <div class="modal-body">

                <!-- Material input name -->
                <div class="md-form form-sm">
                    <i class="fas fa-user prefix"></i>
                    <input type="text" id="materialFormNameModalEx1" class="form-control form-control-sm">
                    <label for="materialFormNameModalEx1">Your name</label>
                </div>

                <!-- Material input email -->
                <div class="md-form form-sm">
                    <i class="fas fa-envelope prefix"></i>
                    <input type="password" id="materialFormEmailModalEx1" class="form-control form-control-sm">
                    <label for="materialFormEmailModalEx1">Your email</label>
                </div>

                <!-- Material input subject -->
                <div class="md-form form-sm">
                    <i class="fas fa-key prefix"></i>
                    <input type="text" id="materialFormSubjectModalEx1" class="form-control form-control-sm">
                    <label for="materialFormSubjectModalEx1">Password</label>
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
    <!--/Modal: Contact form-->
</div>
		



	<div th:replace="common/header :: footer"></div>
	<!-- 	<div th:replace="common/header :: body-bottom-scripts" /> -->
</body>
</html>
