
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" ></div>
	<div class="container">
		<div class="row banner"></div>
		<table class="table">
    <thead>
      
    </thead>
    <tbody>
      <tr class="success">
        <td>Salary Status</td>
        <td th:text="${salaryNotice}"></td>
      </tr>      
      <tr class="success">
        <td>Leave Status</td>
        <td th:text="${leaveMessage}"></td>
      </tr>
      <tr class="success">
        <td>Loan Status</td>
        <td th:text="${loanMessage}"></td>
      </tr>
      <tr class="success">
        <td>Bonus Status</td>
        <td th:text="${isMenagerBonusPermissionGiven}"></td>
      </tr>
      
    </tbody>
  </table>	

	</div>

		<div th:replace="common/header :: footer"></div>
	<!-- 	<div th:replace="common/header :: body-bottom-scripts" /> -->
</body>
</html>
