
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>


	<div class="container">
		<form class="form-horizontal" th:action="@{/registration}"
			method="post" th:object="${userInfo}">

			<div class="form-group">
				<label for="username">Username</label> <input type="text"
					name="username" class="form-control" id="username"
					th:field="*{username}" required="required" placeholder="username">

				<span class="validationError"
					th:if="${#fields.hasErrors('username')}" th:errors="*{username}">follow
					username validation rules</span>

			</div>

			<div class="form-group">
				<label for="password">Password</label> <input type="password"
					name="password" th:field="*{password}" class="form-control"
					id="password" placeholder="password"> <span
					class="validationError" th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}">password must be strong </span>

			</div>

			<div class="form-group">
				<label for="confirmPassword">confirmPassword</label> <input
					type="password" name="confirmPassword"
					th:field="*{confirmPassword}" class="form-control"
					id="confirmPassword" placeholder="confirmPassword"> <span
					class="validationError"
					th:if="${#fields.hasErrors('confirmPassword')}"
					th:errors="*{confirmPassword}">password must be strong</span>
			</div>






			<div class="form-group">
				<label for="fullname">fullname</label> <input type="text"
					class="form-control" name="fullname" th:field="*{fullname}"
					id="fullname" placeholder="fullname"> <span
					class="validationError" th:if="${#fields.hasErrors('fullname')}"
					th:errors="*{fullname}">Enter your full name </span>


			</div>

			<div class="form-group">
				<label for="address">address</label>
				<textarea class="form-control" name="address" th:field="*{address}"
					id="address" rows="3" required="required"></textarea>

				<span class="validationError"
					th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Enter
					valid address</span>

			</div>

			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label> <input
					type="email" th:field="*{email}" name="email" class="form-control"
					id="exampleInputEmail1" aria-describedby="emailHelp"
					placeholder="Enter email"> <small id="emailHelp"
					class="form-text text-muted">We'll never share your email
					with anyone else.</small> <span class="validationError"
					th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Enter
					valid email</span>

			</div>

			<div class="form-group">
				<label for="phone">phone</label> <input type="text"
					class="form-control" name="phone" th:field="*{phone}" id="phone"
					placeholder="phone"> <span class="validationError"
					th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Enter
					valid phone no</span>


			</div>

			<label for="joiningDate">joiningDate</label>
			<div class="input-group date" data-provide="datepicker">

				<input type="text" class="form-control" th:field="*{joiningDate}"
					id="date" name="joiningDate"></input>
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-th"></span>
				</div>

				<span class="validationError"
					th:if="${#fields.hasErrors('joiningDate')}"
					th:errors="*{joiningDate}">joiningDate not valid</span>


			</div>

			<label for="authority">authority</label> <label
				class="checkbox-inline"> <input type="checkbox"
				value="ROLE_ACCOUNTANT" name="authority">ROLE_ACCOUNTANT
			</label> <label class="checkbox-inline"><input type="checkbox"
				value="ROLE_ADMIN" name="authority">ROLE_ADMIN</label> <label
				class="checkbox-inline"> <input type="checkbox"
				value="ROLE_EMPLOYEE" name="authority">ROLE_EMPLOYEE
			</label> <br />

			<!-- 			<label -->
			<!-- 				class="checkbox-inline"> <input type="checkbox" -->
			<!-- 				value="ROLE_EMPLOYEE" name="shift.name">shift -->
			<!-- 			</label> -->



			<label for="shift">shift</label>
			<table class="table table-striped">
				<tbody>
					<tr data-th-each="shiftL : ${shifts}">
						<label class="checkbox-inline"> <input type="checkbox"
							th:value="${shiftL.id}" name="shift.id"> <label
							th:text="${shiftL.name}"></label>
						</label>
					</tr>
				</tbody>
			</table>
			<br /> <label for="grade">grade</label>
			<table class="table table-striped">
				<tbody>
					<tr data-th-each="gradeL : ${grades}">
						<label class="checkbox-inline"> <input type="checkbox"
							th:value="${gradeL.id}" name="grade.id"> <label
							th:text="${gradeL.gradeType}"></label>
						</label>
					</tr>
				</tbody>
			</table>















			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>


	<div th:replace="common/header :: footer"></div>
	<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>